.main-wrapper {
    font-size: 20px;
    width: 100%;
    font-family: "Verdana", fantasy;
    display: flex;
}

.main-wrapper > div {
    margin-top: 20px;
}

.left-wrapper {
    flex-grow: 1;
    margin-left: 20px;
    font-weight: bold;
    font-size: 25px;
}

.left-wrapper {
    padding: 5px 0 5px 0;
}

.left-wrapper > div {
    padding: 15px;
    display: flex;
    align-items: center;
}

.left-wrapper > div:hover {
    color: rgb(30, 162, 243);
    background-color: rgb(232, 246, 253);
    font-weight: bold;
    border-radius: 27px;
}

.left-wrapper div:first-child:hover {
    background-color: white;
}

.left-wrapper i {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.left-wrapper div span {
    padding-left: 20px;
}

.left-menu-icon i {
    background-image: url('../asserts/twitter/twitter.svg');
}

.left-menu-home i {
    background-image: url('../asserts/twitter/home.svg');
    fill: red;
}

.left-menu-explore i {
    background-image: url('../asserts/twitter/research.svg');
}

.left-menu-notification i {
    background-image: url('../asserts/twitter/bell.svg');
}

.left-menu-messages i {
    background-image: url('../asserts/twitter/email.svg');
}

.left-menu-bookmarks i {
    background-image: url('../asserts/twitter/bookmark.svg');
}

.left-menu-lists i {
    background-image: url('../asserts/twitter/list.svg');
}

.profile-picture {
    object-fit: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.left-menu-more i {
    background-image: url('../asserts/twitter/dots.svg');
}

.basic-button {
    margin-top: 10px;

    border-radius: 27px;
    height: 45px;
    cursor: pointer;
    transition-property: background-color;
    border-style: none;

    background-color: rgb(29, 161, 242);
    border-color: rgb(29, 161, 242);
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}


.left-tweet-button {
    width: 200px;
}

.icon-hover:hover {
    background-color: rgba(29, 161, 242, 0.1);
    color: rgb(101, 119, 134);
    border-radius: 50%;
}

.center-wrapper {
    flex-grow: 3;
    max-width: 60vw;
}

.center-wrapper > div {
    border: 3px solid rgb(230, 236, 240);
    border-top-width: 0;
    overflow-y: scroll;
    max-height: 90vh;
}

.center-wrapper >:first-child {
    border-top: 3px solid rgb(230, 236, 240);
    font-weight: bold;
}

.feed-post {
    display: flex;
    flex-direction: row;
    border-top: 3px solid rgb(230, 236, 240);
}

.feed-post:first-child {
    border-top-width: 0;
}

.feed-post > div {
    margin: 10px;
}

.feed-post .post {
    flex-grow: 3;
}

.feed-post .post .post-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
}

.feed-post .post .post-actions i {
    height: 20px;
    width: 20px;
    padding: 10px;
}

.feed-post .post .post-actions >:hover {
    color: rgb(30, 162, 243);
}

.feed-post .post .action {
    display: flex;
    align-items: center;
}
.feed-post .post .speech-bubble {
    content: url('../asserts/twitter/speech-bubble.svg');
}
.feed-post .post .retweet {
    content: url('../asserts/twitter/retweet.svg');
}
.feed-post .post .heart {
    content: url('../asserts/twitter/heart.svg');
}
.feed-post .post .upload {
    content: url('../asserts/twitter/upload.svg');
}

.feed-post:hover {
    flex-grow: 1;
    background-color: rgb(245, 248, 250);
}

.feed-post .post-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5px;
    padding-top: 5px;
}

.feed-post .arrow-down {
    content: url('../asserts/twitter/arrow-down.svg');
    height: 20px;
    width: 20px;
    padding: 10px;
}

.feed-post .profile-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.feed-post .profile-information > div {
    margin-right: 5px;
}

.feed-post .profile-information .profile-name {
    font-weight: bold;
}

.feed-post .profile-information .profile-name a {
    text-decoration: none;
    color: black;
}

.feed-post .profile-information .approved {
    content: url('../asserts/twitter/approved.svg');
    height: 20px;
    width: 20px;
}

.feed-post .profile-information .profile-mention,
.feed-post .profile-information .post-tile {
    color: rgb(101, 119, 134);
}

.feed-post .profile-information .profile-mention:after {
    content: '·';
    padding-left: 5px;
}

.right-wrapper {
    flex-grow: 1;
}